<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFruits</title>
</head>
<body>
    <header>
        <h1>My Fruits</h1>
        <ul>
            <li>Locais</li>
            <li>Datas</li>
            <li>Melhores Preços</li>
            <li>Cadastra-se</li>
            <li>Login</li>
        </ul>
    </header>
    <nav>
        <div>
            <p>Item 1</p>
        </div>
        <div>
            Item 2
        </div>
        <div>
            Item 3
        </div>
        <div>
            Item n
        </div>
        <a href="/cadastro">
            <button>Cadastre um produto</button>
        </a>
    </nav>
</body>
</html>